<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="/">
      <ion-img class="comunicare-logo" src="../../assets/comunicareLogo.png"></ion-img>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="covidForm__form" [formGroup]="covidForm" (ngSubmit)="sendDatas()">

    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" formControlName="nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Prenom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input  formControlName="age"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label>Sexe</ion-label>
      <ion-select formControlName="sexe" placeholder="Selectionnez le sexe">
        <ion-select-option value="0">Femme</ion-select-option>
        <ion-select-option value="1">Homme</ion-select-option>
      </ion-select>
    </ion-item>


  <ion-item>
    <ion-label>Risque(s) (obligatoire)</ion-label>
    <ion-select formControlName="facteurDeRisque" placeholder="Selectionnez le(s) risque(s)">
      <ion-select-option value="fr_diabete">Diabete</ion-select-option>
      <ion-select-option value="fr_maladie_cardiovasculaire">Maladie Cardiovasculaire</ion-select-option>
      <ion-select-option value="fr_asthme">Asthme</ion-select-option>
      <ion-select-option value="fr_bpco">BPCO</ion-select-option>
      <ion-select-option value="fr_obese">Obésité</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Symptôme(s) (obligatoire)</ion-label>
    <ion-select formControlName="symptomes" placeholder="Selectionnez le(s) symptômes(s)">
      <ion-select-option value="symp_fievre">Fièvre</ion-select-option>
      <ion-select-option value="symp_dyspnee">Difficultés respiratoires</ion-select-option>
      <ion-select-option value="symp_myalgies">Douleurs musculaires</ion-select-option>
      <ion-select-option value="symp_cephalees">Mal de tête</ion-select-option>
      <ion-select-option value="symp_toux">Toux</ion-select-option>
      <ion-select-option value="symp_digestifs">Troubles digestifs</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-button class="ion-margin-top" expand="full" ion-button type="submit" [disabled]="!covidForm.valid">Soumettre</ion-button>
  </form>

</ion-content>
