#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.covidForm__form {
  width: 85%;
  margin : 3em auto;
}

.title-app {
  display: block;
  text-align: center;
  margin: 2em auto;
}

// Warning Messages
.warning__message-temperature.visible,
.warning__message-saturation.visible{
  color: red; 
}

.warning__message-temperature.no-visible,
.warning__message-saturation.no-visible{
  display: none;
}

.comunicare-logo {
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  margin: 0 auto;
}

.message-result{
  width: 85%;
  margin : 0 auto;
}

.container__spinner {
  text-align: center;
}

.container__spinner.visible{
  display: block;
}

.container__spinner.invisible{
  display: none;
}